#login-button{
    display: inline;
    border: 1px solid white;
    border-radius: 4px;
    transition: background-color .3s;
    font-size: 1rem;color: #fff;
    padding: 5px 15px;
    cursor: pointer;
}

#login-button:hover{
    background-color: #4caf50;
}

.sport-selected{
    border-color: blue !important;
}