#login-button{
    display: inline;
    border: 1px solid white;
    border-radius: 4px;
    transition: background-color .3s;
    font-size: 1rem;color: #fff;
    padding: 5px 15px;
    cursor: pointer;
}

#login-button:hover{
    background-color: #4caf50;
}

.square {
    width: 300px;
    height: 300px;
}

.centered{
    margin-right: auto;
    margin-left: auto;
}

.rounded{
    border-radius: 100%;
}

#training-button-container.pending{
    background:linear-gradient(to bottom, #efe9ef, #a69ba3);
    transition: background 1s;
}
#training-button-container.pending:hover{
    background:linear-gradient(to bottom, #abff99, #55d459);
    transition: background 1s;
}
#training-button-container.started{
    background:linear-gradient(to bottom, #abff99, #55d459);
    transition: background 1s;
}
#training-button-container.started:hover{
    background:linear-gradient(to bottom, #f45c4b, #ff4637);
    transition: background 1s;
}

#training-button-container.ended{
    background:linear-gradient(to bottom, #97eef6, #29b6f6);
    transition: background 1s;
}

.training-icon.pending{
    background:linear-gradient(to bottom, #abff99, #55d459);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.training-icon.started{
    background:linear-gradient(to bottom, #f45c4b, #ff4637);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.training-icon.ended{
    background:linear-gradient(to bottom, #97eef6, #29b6f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.totalTime-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    font-size: 60px;
    position: relative;
    z-index: 2;
}

.training-icons{
    color: white;
    position: relative;
    top: -75%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

#training-button-container:hover .training-icons {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s linear;
}​