<div style="text-align: center;">
        <div id="training-button-container" class="square centered rounded white-text {{status}}" ng-click="changeStatus(); status=='ended'?updateAchievements():''"
             ng-style="status!='ended' && {'cursor': 'pointer'}"
             style="display: flex;
                    align-items: center;
                    justify-content: center;">
            <div id="training-button-aux" style="">

                <div class="totalTime-container">
                    {{totalTime}}
                </div>
                <div class="training-icons">
                    <span ng-if="status=='pending'"><i class="material-icons training-icon {{status}}" style="font-size: 150px;" >play_arrow</i></span>
                    <span ng-if="status=='started'"><i class="material-icons training-icon {{status}}" style="font-size: 150px;">stop</i></span>
                    <span ng-if="status=='ended'"><i class="material-icons training-icon {{status}}" style="font-size: 150px;">favorite</i></span>
                </div>
                </div>
        </div>

                  
    <div id="training-form" style="width: 50%; margin-right: auto; margin-left:auto; margin-top: 15px;" ng-if="status=='ended'">
        <div style="display: flex; flex-direction: row; justify-content: center;">
            <div ng-repeat="sport in sports">
                <img ng-src="{{sport.url}}" class="circle {{sport._id==sportselected._id ? 'sport-selected':''}}" style="height: 50px; width: 50px; margin:0 10px; border: solid black; cursor: pointer;"
                ng-click="setSport(sport); updateAchievements()"/>
            </div>
        </div>
        </br><div class="row">
            <div class="input-field col s12">
                <input id="calories" type="number" step="any" class="validate" min="0" ng-model="newTraining.calories" ng-click="updateAchievements()">
                <label class="active" for="calories" style="color: black";>Calories</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="distance" type="number" step="any" class="validate" min="0" ng-model="newTraining.distance" ng-click="updateAchievements()">
                <label class="active" for="distance" style="color: black";>Distance (Meters)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <a class="waves-effect waves-light btn-large red" ng-click="resetTraining(); resetAchievements()"><i class="material-icons center">delete_forever</i></a>
            </div>
            <div class="input-field col s6">
                <a class="waves-effect waves-light btn-large green" ng-click="saveTraining(); resetAchievements()"><i class="material-icons center">backup</i></a>
            </div>
        </div>
    </div>

</div>