<h1>My Trainings Record</h1>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Calories</th>
                <th>Distance</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="training in trainings">
                <td>{{training.start}}</td>
                <td>{{training.end}}</td>
                <td>{{training.calories}}</td>
                <td>{{training.distance}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6 col-md-offset-3">
    <a class="btn btn-primary btn-sm " id="option-button" href="#/records">Back</a>
</div>