
<h1>Achievements</h1>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Achievement</th>
                <th>Description</th>
                <th>Type</th>
                <th>Needed value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="achievement in achieved_achievements">
                <td><img src="{{achievement.url}}" height="44" width="44" /></td>
                <td>{{achievement.name}}</td>
                <td>{{achievement.description}}</td>
                <td>{{achievement.type}}</td>
                <td>{{achievement.type_value}}</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr ng-repeat="achievement in unachieved_achievements">
                <td><img src="{{achievement.url}}" height="44" width="44" /></td>
                <td>{{achievement.name}}</td>
                <td>{{achievement.description}}</td>
                <td>{{achievement.type}}</td>
                <td>{{achievement.type_value}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6 col-md-offset-3">
    <a class="btn btn-primary btn-sm" href="#/">Back</a>
</div>