<h1>My Record</h1>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Distance</th>
                <th>Sessions</th>
                <th>Average distance</th>
                <th>Calories</th>
                <th>Total time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td>{{record.distance}}</td>
                <td>{{record.sessions}}</td>
                <td>{{record.averageDistance | number : 2}}</td>
                <td>{{record.calories}}</td>
                <td>{{record.totalTime}}</td>
            </tr>
        </tbody>
    </table>
</div>
 <div class="col-md-6 col-md-offset-3">
        <a  class="btn btn-primary btn-sm option-button" href="#/">Back</a>
        <a class="btn btn-primary btn-s option-button" href="#/trainingsRecord">Trainings record</a>
    </div>
