<div class="container">
    <div class="row">
        <h1 class="center">Login</h1>
        <form class="col s12 card z-depth-3" ng-submit="submit()">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="username" id="username" type="text" class="validate" ng-model="login.username" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="password" id="password" type="password" class="validate" ng-model="login.password" required>
                </div>
            </div>
            <div class="row" ng-if="error" style="text-align: center">
                <span class="red" style="padding: 5px 50px;">
                    {{error}}
                </span>
            </div>
            <div class="row" style="margin-bottom: 0; margin-top: 30px;">
                <button class="btn btn-large" type="submit" id="send_mail" style="width:100%">Submit</button>
            </div>
        </form>
    </div>

</div>